{% include 'header.twig' %}

 <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_api" class="pt-5">
  <div class="block-api">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="cardff">
          <div class="col-md-12g">
          <div class="well "></br></br>
          
          
          <div class="dashboard-content">
          <div class="head clearfix">
          <h5>CONFIRM EMAIL</h5>
          <span><strong> 
          <img width="30" height="30" src="https://i.imgur.com/lvwNVuM.png" ></img>
          </strong></span>
          </div>
          <div class="content">
 
          <div class="container">
          <div class="row">
          <div class="col-md-8 col-md-offset-2">

        {% if error %}
            <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
            <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
            </div>
        {% endif %}
        {% if successText %}
            <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
            <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
       </div>
       {% endif %}
       <br>
      
       <div class="confirm-email-card">
       <div class="confirm-email__header">
       <h3>{{ lang['verify.email'] }}</h3>
                   </div>
        <div class="confirm-email__description">
                        Please check your inbox and click the link to confirm your email address
        </div>
        <div class="confirm-email__actions">
        {% if settings["resend_max"]  ==  user["resend_max"] %}
        <br>
        Sorry you have been used  <span>{{user["resend_max"]}}</span> confirmation mails so existed the limit no more Mails
        {% else %}
        <div class="component_button_resend">
        <div class="">
        <a href="confirm_email/resend" ><button class="btn btn-big-primary" id="resendEmailLink">Resend email</button></a>
        </div>
        </div>
        {% endif %}
        
        </div>
        <input type="hidden" name="_csrf" value="q2dAlhcRfniS0513PBKOI9J7u5xuLrvb6RWTGNnKJp_0ODjAYiUJCMq0xD5PWtYT4Ur3xCRv062oRcRqs6AR_g==">
        
        </br><hr>
        
        
        </div>
        
                            
                        </div>
                      
                       {% if user["change_email"] ==  1  %}
        
        <form class="modal-content" method="post" action="confirm_email/">
         <div class="modal-header">
         <h4 class="modal-title">Change email</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body ">
         <div class="">
         <div id="changeEmailError" class="error-summary alert alert-dismissible alert-danger mb-3 hidden">
         </div>
         </div>
         {% if error %}
         <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
         </div>
         {% elseif success %}
         <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
        {% endif %}
       <div class="form-group">
       <form method="post" action="">
       <label for="current-email">Current email</label>
       <input class="form-control" id="current-email" value="{{user["email"]}}" disabled>
       </div>
       <div class="form-group">
       <label for="new-email">New email</label>
       <input type="text" class="form-control" id="newemail" name="newemail" value="{{ data['newemail'] }}">
       </div>
       <div class="form-group">
       <label for="current-password">Current password</label>
       <input type="text" class="form-control" id="password" name="password" value="{{ data['password'] }}">
                                         </div>
       <input type="hidden" name="_csrf" value="q2dAlhcRfniS0513PBKOI9J7u5xuLrvb6RWTGNnKJp_0ODjAYiUJCMq0xD5PWtYT4Ur3xCRv062oRcRqs6AR_g==">
       </div>
       <div class="modal-footer text-lg-left">
       <button type="button" class="btn btn-big-secondary" data-dismiss="modal">Close</button>
       <button type="submit" class="btn btn-big-primary" id="changeEmailSubmitBtn">Change email</button>
       </div>
       </form>{% endif %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










  
{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

{% include 'footer.twig' %}
