{% if settings['register_page']  ==  2 %} 
{% include 'header.twig' %}
<div id="block_105">
    <div class="bg" style="background-image: url('app/views/xblur/image/Background.png');"></div>
    <div class="sign-in">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
		     
            <div class="row sign-up-center-alignment" style="justify-content: center;">
			
                 <div class="col-lg-5 col-md-6 col-sm-12 lud">
		{% if contentText %}
<div class="super-box up mb-4">
{{ contentText }}
</div>
{% endif %}
                    <div class="component_card">
					 {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <i class="fad fa-exclamation-triangle mr-2"></i>{{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <i class="fad fa-shield-check mr-2"></i>{{ successText }}
        </div>
      {% endif %}
                        <div class="login-box up">
                            <form action="" method="post" class="component_form_group component_checkbox">
                                <div class="">
                                                                                                            <div class="form-group">
                                        <label for="username" class="control-label">Username</label>
                                        <input type="text" class="form-contro" id="username" name="username" value="{{ data['username'] }}">
                                    </div>
                                               {% if settings['name_fileds']  ==  1 %}                             <div class="form-group">
                                            <label for="firstname" class="control-label">Name</label>
                                            <input type="text" class="form-contro" id="firstname" name="name" value="{{ data['name'] }}">
                                        </div>{% endif %}
                                       
                                                                        <div class="form-group">
                                        <label for="email" class="control-label">Email</label>
                                        <input type="email" class="form-contro" id="email" name="email" value="{{ data['email'] }}">
                                    </div>
                                                               {% if settings['skype_feilds']  ==  1 %}             <div class="form-group">
                                            <label for="skype" class="control-label">Whatsapp No.</label>
                                            <input type="text" class="form-contro" id="skype" name="telephone" value="{{ data['telephone'] }}">
                                        </div>{% endif %}
                                                                        <div class="form-group">
                                        <label for="password" class="control-label">Password</label>
                                        <input type="password" class="form-contro" id="password" name="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm" class="control-label">Confirm password</label>
                                        <input type="password" class="form-contro" id="confirm" name="password_again">
                                    </div>
                                    
                                    {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}
                                    
                                                                            <div class="checkbox">
            <label >
              <input  type="checkbox" name="terms" value="1"> {{ lang['signup.accept_terms_text'] }}
            </label>
          </div>
		   
                                <div class="component_button_submit">
                                    <div class="form-group">
                                        <div class="">
                                            <button type="submit" class="btn btn-block btn-big-primary">Sign up</button>
                                        </div>
                                    </div>
                                </div>
                                <div style="color:#fff; " class="text-center">Already have an account?<a href="/" class="sign-up-center-signin-link upar"style="margin-left:10px;">Sign in</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container">
<div class="row sign-up-center-alignment" style="justify-content: center;">
<div class="col-lg-5">
{% if contentText2 %}
<div class="super-box up mt-4 mb-4">
{{ contentText2 }}
</div>
{% endif %}
</div></div> </div>



{% include 'footer.twig' %}
{% endif %} 